html {
    background-color: #0027FF;
    padding: 0px;
    scroll-behavior: smooth;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #0027FF;
    border-color: #0027FF;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
